{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'ModelFormApp:form'%}">Go To Model Form</a>
    {%if data%}
    <table>
            {%for user in data%}
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>
            {%endfor%}
    </table>
    {%endif%}
    
</body>
</html>